.coverage
htmlcov/
.idea/
*.min.css
*.min.js
*.pyc
.*.swp
.webassets-cache/
*.egg-info
dist/
build/
wheelhouse/
.cache/
.pytest_cache/
*.mo
webpack-build-config.json
.indico_source
.jsconfig.json
node_modules/
package-lock.json
*.lock
url_map.json
