.coverage
htmlcov/
.idea/
*.min.css
*.min.js
*.pyc
.*.swp
.webassets-cache/
*.egg-info
dist/
build/
wheelhouse/
**/static/help/
.cache/
.pytest_cache/
*.mo
webpack-build-config.json
node_modules/
package-lock.json
*.lock
