include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
include requirements-dev.txt

graft indico_payment_stripe/static
graft indico_payment_stripe/templates

global-exclude *.pyc __pycache__ .keep
