{% extends 'forms/base_widget.html' %}

{% block html %}
    <div>
        <input type="hidden" name="{{ field.name }}" id="{{ field.id }}-data"
               {% if field.data is not none %}value="{{ field.data | tojson | forceescape }}"{% endif %}
               {{ input_args | html_params }}>
        <span id="{{ field.id }}"></span>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        setupPromptManagerFieldWidget({
            fieldId: {{ field.id | tojson }},
        });
    </script>
{% endblock %}
