{% extends 'vc/emails/created.html' %}

{% block plugin_specific_info %}
    <li>
        <strong>Auto-join URL</strong>:
        <a href="{{ vc_room.vidyo_extension.join_url }}">{{ vc_room.vidyo_extension.join_url }}</a>
    </li>
    <li><strong>Owner:</strong> {{ vc_room.data.owner_identity }}</li>
{% endblock %}

{% block custom_footer %}
    {% if plugin.settings.get('creation_email_footer') %}
        <hr>
        {{ plugin.settings.get('creation_email_footer') | sanitize_html }}
    {% endif %}
{% endblock %}
