{% extends 'events/display/conference/base.html' %}

{% block title %}
    {% trans %}Chat Rooms{% endtrans %}
{% endblock %}

{% block content %}
    {% for event_chatroom in event_chatrooms %}
        {% set chatroom = event_chatroom.chatroom %}
        {% set server = chatroom.server %}
        <div class="event-service-row">
            <div class="event-service-row-collapsed clearfix">
                <div class="event-service-info event-service-row-toggle left">
                    <i class="icon-bubble-quote"></i>
                    <span class="event-service-title">{{ chatroom.name }}</span>
                </div>
                <div class="event-service-toolbar toolbar right">
                    {% if chat_links %}
                        <div class="group">
                            <a class="i-button i-button-small arrow event-service-right-button highlight join-button" data-toggle="dropdown" target="_blank"><strong>{% trans %}Join{% endtrans %}</strong></a>
                            <ul class="dropdown">
                                {% for chat_link in chat_links %}
                                    <li><a class="fake-link" href="{{ chat_link.link.format(room=chatroom.jid_node, server=server) }}" target="_blank">{{ chat_link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="event-service-details">
                <dl>
                    {% if chatroom.jid_node != chatroom.name.lower() %}
                        <dt>JID:</dt>
                        <dd>{{ chatroom.jid_node }}</dd>
                    {% endif %}
                    <dt>{% trans %}Server{% endtrans %}:</dt>
                    <dd>{{ chatroom.server }}</dd>
                    {% if chatroom.description %}
                        <dt>{% trans %}Description{% endtrans %}:</dt>
                        <dd>{{ chatroom.description }}</dd>
                    {% endif %}
                    {% if chatroom.password %}
                        <dt>{% trans %}Password{% endtrans %}:</dt>
                        <dd>
                            {% if event_chatroom.show_password %}
                                {{ chatroom.password }}
                            {% else %}
                                <i>{% trans %}Hidden{% endtrans %}</i>
                            {% endif %}
                        </dd>
                    {% endif %}
                </dl>
            </div>
            <a class="trigger icon-expand" title="{% trans %}More info{% endtrans %}"></a>
        </div>
    {% endfor %}

    <script>
        $('.event-service-toolbar').dropdown();
    </script>
{% endblock %}
