<h2 class="page-title">{% trans %}Chat Rooms{% endtrans %}</h2>

<table class="infoTable" width="100%" align="center" border="0" cellspacing="0">
    <thead>
        <tr>
            <td class="tableHeader">{% trans %}Name{% endtrans %}</td>
            <td class="tableHeader">{% trans %}JID{% endtrans %}</td>
            <td class="tableHeader">{% trans %}Server{% endtrans %}</td>
            {% if 'description' in cols -%}
                <td class="tableHeader">{% trans %}Description{% endtrans %}</td>
            {% endif %}
            {% if 'password' in cols -%}
                <td class="tableHeader">{% trans %}Password{% endtrans %}</td>
            {% endif %}
            {% if chat_links %}
                <td class="tableHeader">{% trans %}Actions{% endtrans %}</td>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for event_chatroom in event_chatrooms %}
            {% set chatroom = event_chatroom.chatroom %}
            {% set server = chatroom.server %}

            <tr class="infoTR" style="vertical-align: baseline;">
                <td class="infoTD">{{ chatroom.name }}</td>
                <td class="infoTD">{{ chatroom.jid_node }}</td>
                <td class="infoTD">{{ server }}</td>
                {% if 'description' in cols -%}
                    <td class="infoTD">{{ chatroom.description }}</td>
                {% endif %}
                {% if 'password' in cols %}
                    <td class="infoTD">
                        {% if chatroom.password %}
                            {% if event_chatroom.show_password %}
                                {{ chatroom.password }}
                            {% else %}
                                <i>{% trans %}Hidden{% endtrans %}</i>
                            {% endif %}
                        {% else %}
                            <i>{% trans %}None{% endtrans %}</i>
                        {% endif %}
                    </td>
                {% endif %}
                {% if chat_links %}
                    <td style="white-space: nowrap;">
                        <div class="toolbar js-chat-links" style="margin: 0; min-height: 0;">
                            <div class="group">
                                <a class="i-button i-button-mini arrow event-service-right-button dropDownMenu highlight join-button" data-toggle="dropdown" target="_blank"><strong>{% trans %}Join{% endtrans %}</strong></a>
                                <ul class="dropdown">
                                    {% for chat_link in chat_links %}
                                        <li><a class="fakeLink" href="{{ chat_link.link.format(room=chatroom.jid_node, server=server) }}" target="_blank">{{ chat_link.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $('.js-chat-links').dropdown();
</script>
