<ul>
    <li>
        Download a messaging client compatible with XMPP (such as Pidgin, Gajim, Adium, Spark).
        You may want to look <a href="http://xmpp.org/xmpp-software/clients/" target="_blank">here</a>) and install it.
    </li>
    <li>Add the XMPP account that you want to use.</li>
    <li>In the menus, try to find something like 'Join a Chat', 'Join Group Chat', or related.</li>
    <li>Fill the fields Room and Server with the information above. In case there is only one field for both the room and the server, the format to use is 'room@server'.</li>
</ul>
