{% from 'forms/_form.html' import form_header, form_fieldset, form_footer, form_rows %}
{% set chatroom = event_chatroom.chatroom if event_chatroom %}

{{ form_header(form, id='chatroom-form') }}

{% call form_fieldset(legend='Chatroom settings') %}
    {{ form_rows(form, skip=form.event_specific_fields) }}
{% endcall %}

{% call form_fieldset(legend='Event settings', description='These settings affect only the current event even if the chatroom is used in multiple events.') %}
    {{ form_rows(form, fields=form.event_specific_fields) }}
{% endcall %}

{% call form_footer(form) %}
    <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}"
           {% if chatroom %}data-disabled-until-change{% endif %}>
    <a href="{{ url_for_plugin('.manage_rooms', event) }}" class="i-button big">{% trans %}Cancel{% endtrans %}</a>
{% endcall %}

<script>
    $('#chatroom-form').on('submit', function() {
        $('.save-chatroom').prop('disabled', true).blur();
    });

    $('#use_custom_server').on('change', function() {
        var server = $('#custom_server');
        server.prop('disabled', !this.checked);
        if (!this.checked) {
            // Hide the error tooltip in case it is active.
            server.qtip('hide');
            server.parent().parent().removeClass('has-error');
        }
    });

    $(document).ready(function() {
        $('#custom_server').prop('disabled', !$('#use_custom_server').prop('checked'));
    });
</script>
