{% extends 'events/management/base.html' %}

{% from 'forms/_form.html' import form_header, form_row, form_footer  %}

{% block title %}
    {% trans %}Chat{% endtrans %}
{% endblock %}

{% block content %}
    <div class="plugin-chat chat-mgmt" style="margin-bottom: 2em;">
        {% if event_chatrooms %}
            <h2>{% trans %}Current chat rooms{% endtrans %}</h2>
            <table class="i-table-widget">
                <thead>
                     <tr>
                        <th class="small-column"></th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th class="col-50">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_chatroom in event_chatrooms %}
                        {% set chatroom = event_chatroom.chatroom %}
                        {% set server = chatroom.server %}
                        <tr>
                            <td><a href="#" class="icon-next toggle-details" title="Click to toggle collapse status"></a></td>
                            <td>{{ chatroom.name }}</td>
                            <td>
                                <div class="toolbar">
                                    <div class="group">
                                        {% if logs_enabled and not chatroom.custom_server %}
                                            <a href="{{ url_for_plugin('.manage_rooms_logs', event_chatroom) }}" class="i-button icon-file-content" title="{% trans %}Logs{% endtrans %}"></a>
                                        {% endif %}
                                        <a href="#" class="i-button icon-edit hide-if-locked"
                                           title="{% trans %}Edit{% endtrans %}"
                                           data-href="{{ url_for_plugin('.manage_rooms_modify', event_chatroom) }}"
                                           data-title="{% trans %}Edit chatroom{% endtrans %}"
                                           data-ajax-dialog
                                           data-reload-after>
                                        </a>
                                        {% if not chatroom.custom_server %}
                                            <a href="#" class="i-button icon-loop js-chat-refresh-room hide-if-locked"
                                               data-href="{{ url_for_plugin('.manage_rooms_refresh', event_chatroom) }}"
                                               title="{% trans %}Refresh{% endtrans %}"></a>
                                        {% endif %}
                                        <a href="#" class="i-button icon-remove js-chat-remove-room hide-if-locked"
                                           data-href="{{ url_for_plugin('.manage_rooms_remove', event_chatroom) }}"
                                           data-num-events="{{ chatroom.events | count }}"
                                           data-custom-server="{{ 1 if chatroom.custom_server else 0 }}"
                                           title="{%- trans %}Remove{% endtrans -%}"></a>
                                    </div>
                                    <div class="group">
                                        <a class="i-button arrow button highlight dropdown-button" data-toggle="dropdown">
                                            {%- trans %}Join{% endtrans -%}
                                        </a>
                                        <ul class="dropdown">
                                            {% for chat_link in chat_links %}
                                                <li><a class="fake-link" href="{{ chat_link.link.format(room=chatroom.jid_node, server=server) }}" target="_blank">{{ chat_link.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="details-row" colspan="3">
                                <dl class="details-container">
                                    {% if chatroom.jid_node != chatroom.name.lower() %}
                                        <dt>JID</dt>
                                        <dd>{{ chatroom.jid_node }}</dd>
                                    {% endif %}
                                    <dt>{% trans %}Server{% endtrans %}</dt>
                                    <dd><span class="{% if chatroom.custom_server %}chat-custom-server{% endif %}">{{ server }}</span></dd>
                                    {% if chatroom.description %}
                                        <dt>{% trans %}Description{% endtrans %}</dt>
                                        <dd>{{ chatroom.description }}</dd>
                                    {% endif %}
                                    <dt>{% trans %}Hidden{% endtrans %}</dt>
                                    <dd>{% if event_chatroom.hidden %}Yes{% else %}No{% endif %}</dd>
                                    {% if chatroom.password %}
                                        <dt>{% trans %}Password{% endtrans %}</dt>
                                        <dd>{{ chatroom.password }}</dd>
                                        <dt>{% trans %}Password{% endtrans %} visible</dt>
                                        <dd>{% if event_chatroom.show_password %}Yes{% else %}No{% endif %}</dd>
                                    {% endif %}
                                    <dt>{% trans %}Created by{% endtrans %}</dt>
                                    <dd>{{ chatroom.created_by_user.full_name }}</dd>
                                    <dt>{% trans %}Created on{% endtrans %}:</dt>
                                    <dd>{{ chatroom.created_dt | format_datetime('long') }}</dd>
                                    <dt>{% trans %}Modified on{% endtrans %}</dt>
                                    <dd>
                                        {% if chatroom.modified_dt %}
                                            {{ chatroom.modified_dt | format_datetime('long') }}
                                        {% else %}
                                            <em>Never</em>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="info-message-box">
                <div class="message-text">{% trans %}No chatrooms have been added yet.{% endtrans %}</div>
            </div>
        {% endif %}
        <a class="i-button bottom icon-plus hide-if-locked"
           data-href="{{ url_for_plugin('.manage_rooms_create', event) }}"
           data-title="{% trans %}Create chatroom{% endtrans %}"
           data-ajax-dialog
           data-reload-after>
            {%- trans %}Create new room{% endtrans -%}
        </a>
    </div>

    {% if attach_form and not event.is_locked %}
        <div>
            <h2>{% trans %}Add existing chat room{% endtrans %}</h2>
            <div>
                {{ form_header(attach_form, action=url_for_plugin('.manage_rooms_attach', event)) }}
                {{ form_row(attach_form.chatroom) }}
                {% call form_footer(attach_form) %}
                    <input class="i-button big highlight" type="submit" value="{% trans %}Attach existing room{% endtrans %}">
                {% endcall %}
            </div>
        </div>
    {% endif %}

    <script>
        eventManageChat();
        $('.toolbar').dropdown({selector: 'a[data-toggle=dropdown]'});
        $('.details-container').hide();
    </script>
{% endblock %}
