{% extends 'events/management/base.html' %}

{% set chatroom = event_chatroom.chatroom %}

{% block title %}{% trans %}Chat{% endtrans %}{% endblock %}

{% block subtitle %}{% trans room=chatroom.name %}Logs for {{ room }}{% endtrans %}{% endblock %}

{% block content %}
    <div class="plugin-chat chat-mgmt">
        <p>
            {% trans -%}
                Here you can retrieve logs for the chat room. You can either retrieve logs from during the event, from a custom
                period or all logs available for the room.
            {%- endtrans %}
        </p>

        <div class="clearfix">
            <form method="get" action="{{ url_for_plugin('.manage_rooms_show_logs', event_chatroom) }}" id="chat-log-form">
                <div id="chat-log-range" data-start-date="{{ start_date.strftime('%d/%m/%Y') }}" data-end-date="{{ end_date.strftime('%d/%m/%Y') }}"></div>
                <br>
                <input class="i-button" type="submit" value="{% trans %}Retrieve logs for the selected range{% endtrans %}">
                <input class="i-button" type="submit" name="get_all_logs" value="{% trans %}Retrieve all logs{% endtrans %}">
            </form>

            <div id="chat-log-material" class="info-message-box">
                <div class="message-text">
                    {% trans -%}
                        You can add the currently displayed chat logs to the event material.
                    {%- endtrans %}
                    <br>
                    {% trans -%}
                        Have in mind that due to security policy logs will be private by default.
                        If you want to change the protection level you will have to do it manually.
                    {%- endtrans %}
                </div>
                <div class="chat-log-material-create">
                    <label for="chat-material-name">{% trans %}Material name{% endtrans %}</label>
                    <input type="text" id="chat-material-name" value="{{ chatroom.name }}">
                    <button type="button" class="i-button" id="chat-create-material" data-href="{{ url_for_plugin('.manage_rooms_attach_logs', event_chatroom) }}">
                        {%- trans %}Create material{% endtrans -%}
                    </button>
                </div>
            </div>
        </div>

        <div id="chat-log-display-container">
            <div class="groupTitle">
                {% trans %}Logs{% endtrans %}
            </div>
            <iframe id="chat-log-display"></iframe>
        </div>
    </div>
    <script>
        eventManageChatLogs();
    </script>
{% endblock %}
