#search-advanced-help-tooltip {
    display: none;

    code {
        font-size: 1.1em;
    }

    .field {
        color: #8a8a45;
    }

    .negation {
        color: #b00;
    }
}

.search-container {
    .search-public-warning {
        float: right;
        padding: 10px;
        color: #FF4444;
    }

    .search-banner {
        float: right;
        margin-top: 10px;

        & > span {
            color: #777;
        }

        img {
            vertical-align: middle;
            border: 0;
        }
    }

    .content {
        form {
            width: 400px;

            #search-phrase {
                width: 300px;
                height: 20px;
                font-size: 17px;
                vertical-align: middle;
            }

            input[type=submit] {
                vertical-align: middle;
            }

            .toggle-advanced-options-container {
                padding-top: 4px;
            }

            .advanced-options > table {
                text-align: right;
            }
        }
    }

    h1 {
        font-size: 2em;
        color: #B14300;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
}

#category-search-form {
    .search-box {
        position: absolute;
        right: 0.5em;
        top: 50px;
        border: none;
        font-size: 13px;
    }

    .search-button {
        float: right;
        border-left: 1px solid #003042;
        width: 28px;
        height: 21px;
        line-height: 21px;
        cursor: pointer;
        background: #444;
        text-align: center;
        color: #fafafa;
    }

    .search-controls {
        width: auto;
        border: 1px solid #003042;
        height: 21px;
        overflow: hidden;
        background-color: white;

        input {
            border: 0;
            font-weight: normal;
            color: #333;
        }
    }

    .search-field {
        margin-left: 3px;
        min-width: 150px;
        width: auto;
        height: 19px;
    }

    .extra-options {
        border: 1px solid #888888;
        border-radius: 6px;
        min-width: 250px;
        white-space: nowrap;
        width: 100%;
        display: none;
        position: absolute;
        top: 23px;
        right: 0;
        background-color: white;
        overflow: hidden;

        table {
            width: auto;
        }

        table td:first-child {
            padding-left: 10px;
        }

        input {
            margin-left: 8px;
            font-size: 12px;
            width: 148px;
        }

        select {
            margin-left: 8px;
            font-size: 12px;
            width: 148px;
        }

        td {
            font-size: 12px;
            color: #444;
        }

        .label {
            text-align: center;
            padding: 5px;
            border-radius: 6px 6px 0 0;
            background-color: #ECECEC;
            font-style: italic;
            border-bottom: 1px solid #AAAAAA;
        }
    }
}

.search-tag {
    max-width: 112px;
    display: table-cell;
    line-height: 13px;
    height: 13px;
    vertical-align: middle;
    margin: 1px 1px 1px 1px;
    padding: 2px 5px;
    float: left;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    user-select: none;
    font-size: 11px;
    overflow: hidden;
    opacity: 0.6;
    color: #000;

    .where {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
    }

    .cross {
        font-weight: bold;
        color: #566E89;
        float: right;
        cursor: pointer;
        font-size: 10px;
        margin-left: 4px;
        line-height: 12px;
    }

    &.everywhere {
        border: 1px solid #566E89;
        text-shadow: 0 1px 0 #666;
        background-color: #aaa;
        cursor: default;

    }

    &.in-category {
        border: 1px solid #566E89;
        background-color: #8EA1B7;
        text-shadow: 0 1px 0 #666;
        cursor: default;
    }

    &.in-category-over {
        border: 1px solid #566E89;
        background-color: #8EA1B7;
        cursor: pointer;
    }
}

.suggestion-box {
    border: 1px solid #888888;
    width: 220px;
    overflow: hidden;
    background-color: white;

    .help {
        background-color: #FFFFFF;
        color: #555555;
        font-size: 12px;
        font-style: italic;
        margin: 0 0 0;
        padding: 5px;
    }

    .other-results {
        background-color: #FFFFFF;
        color: #777777;
        font-size: 12px;
        font-style: italic;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 3px;
    }

    ul {
        background-color: #FFFFFF;
        padding: 3px;
        margin: 0 0 0 0;

        li {
            list-style-type: none;
            padding: 3px;
            border-top: 1px solid #DDDDDD;
            cursor: pointer;

            &.selected {
                background-color: #ECECEC;
            }

            .title {
                color: #0B63A5;
                font-size: 12px;
            }

            .highlight {
                font-weight: bold;
            }

            .path {
                color: #444444;
                font-size: 9px;
            }
        }
    }
}
