[flake8]
max-line-length = 120

# colored output
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s

# decent quote styles
inline-quotes = single
multiline-quotes = single
docstring-quotes = double
avoid-escape = true

exclude =
    build
    dist
    docs
    ext_modules
    htmlcov
    indico.egg-info
    node_modules
    .*/
    # TODO: remove the next two entries and use extend-exclude once flake8 3.8.0 is out
    .git
    __pycache__

ignore =
    # allow omitting whitespace around arithmetic operators
    E226
    # don't require specific wrapping before/after binary operators
    W503
    W504
    # allow assigning lambdas (it's useful for single-line functions defined inside other functions)
    E731
    # while single quotes are nicer, we have double quotes in way too many places
    Q000
    # for non-docstring multiline strings we don't really enforce a quote style
    Q001
