{% from 'forms/form_widget.html' import form_header, form_row, form_footer  %}

<div class="plugin-header">
    <h1>LiveSync</h1>
    <h2>
        {%- if agent -%}
            {% trans %}Edit Agent{% endtrans %}
        {%- else -%}
            {% trans %}Add{% endtrans %} {{ backend.title }}
        {%- endif -%}
    </h2>
</div>

<p class="plugin-description">{{ backend.description }}</p>

{{ form_header() }}
{% for field in form.visible_fields %}
    {{ form_row(field) }}
{% endfor %}
{% call form_footer() %}
    <input class="i-button big highlight" type="submit" value="{% trans %}Save{% endtrans %}">
    <a href="{{ url_for('plugins.details', plugin='livesync') }}" class="i-button big">{% trans %}Cancel{% endtrans %}</a>
{% endcall %}
