{% from 'message_box.html' import message_box %}

{% call message_box('warning', large_icon=true, fixed_width=true) %}
    {% trans category_title=category.title, max_events_threshold=threshold -%}
        <b>The '{{ category_title }}' category contains over {{ max_events_threshold }} events - this may cause performance issues.</b>
        <br/>
        Please consider using groups instead of individual users to avoid having to re-send large amounts of changes to users individually.
    {%- endtrans %}
{% endcall %}
