<tr class="regform-done-title">
    <td colspan="2">{% trans %}Zoom{% endtrans %}</td>
</tr>
{% for entry in join_urls %}
    <tr>
        <th class="regform-done-caption">
            {% if join_urls|length > 1 %}
                {{ entry.name }}
            {% else %}
                {% trans %}Join link{% endtrans %}
            {% endif %}
        </th>
        <td class="regform-done-data">
            <a href="{{ entry.url }}" target="_blank" rel="noopener noreferrer" style="word-break: break-all;">{{ entry.url }}</a>
        </td>
    </tr>
{% endfor %}
