// took the column-divider it from ConflictModal.module.scss file


@use 'base/palette' as *;


.column-divider {
  box-shadow: none !important;
  border-left: 1px solid $raincloud-gray;
}

.previewCard {
  min-width: 500px;
  width: 100%;
  max-width: 900px;
}