{% if tracking_active %}
    <script type="text/javascript">
        var _paq = _paq || [];
        (function() {
            var u = (("https:" == document.location.protocol) ? "https://" : "http://");
            u += '{{ url }}';
            _paq.push(['setSiteId', {{ site_id }}]);
            {% if event_id %}
                _paq.push(['setCustomVariable', '1', 'Conference', '{{ event_id }}', 'page']);
            {% endif %}
            {% if contrib_id %}
                _paq.push(['setCustomVariable', '2', 'Contribution', '{{ contrib_id }}', 'page']);
            {% endif %}
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            var g = document.createElement('script');
            var s = document.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.defer = true;
            g.async = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
{% endif %}
