{% from 'forms/_form.html' import form_header, form_footer %}

{{ form_header(form, method='get', action=url_for_plugin('search.search'), id='category-search-form', i_form=false) }}
    <div class="search-box" id="category-search-box">
        <div class="search-controls">
            <div class="search-button icon-search"></div>
            <div id="category-search-expand" class="arrowExpandIcon"></div>
            {{ form.phrase(style='background-color: transparent;') }}
        </div>

        <div class="extra-options">
            <div class="label">
                {% trans %}Advanced options{% endtrans %}
                {% block search_syntax_tooltip %}{% endblock %}
            </div>
            <table>
                <tr>
                    <td style="text-align: right; white-space: nowrap;">{{ form.field.label() }}</td>
                    <td>{{ form.field(class_='search-field') }}</td>
                </tr>
                {% block extra_fields %}{% endblock %}
                <tr>
                    <td style="text-align: right; white-space: nowrap;">{{ form.start_date.label() }}</td>
                    <td style="white-space: nowrap;">{{ form.start_date() }}</td>
                </tr>
                <tr>
                    <td style="text-align: right; white-space: nowrap;">{{ form.end_date.label() }}</td>
                    <td style="white-space: nowrap;">{{ form.end_date() }}</td>
                </tr>
            </table>
        </div>
    </div>
{{ form_footer(form, i_form=false) }}

<script>
    $(document).ready(function() {
        'use strict';
        categorySearchBox({
            categoryNamesUrl: {{ url_for_plugin('search.category_names') | tojson }},
            searchUrl: {{ url_for_plugin('search.search') | tojson }},
            searchCategoryUrl: {{ url_for_plugin('search.search', category) | tojson }},
            categoryName: {{ (category.title if category else None) | tojson }},
            isRoot: {{ (not category or category.is_root) | tojson }}
        });
    });
</script>
