@import 'base/palette';

.plugin-chat {
    // Management
    &.chat-mgmt {
        .chat-custom-server {
            font-weight: bold;
        }
        .chatroom + .chatroom {
            margin-top: 1em;
        }
        #chat-log-form {
            margin-right: 2em;
            float: left;
        }
        #chat-log-material {
            display: none;
            float: left;
        }
        #chat-log-display-container {
            display: none;
            margin-top: 2em;
        }
        iframe {
            width: 100%;
            height: 600px;
            margin-top: 1em;
            display: block;
            border: none;
        }
    }
}

.chat-log-material-create {
    padding-left: 2.4em;
    margin: 0.5em 0;
}
