@use 'base/palette' as *;

div.main {
  color: #000;
  background: #fff;
  font-family: helvetica, verdana, sans-serif;

  > div {
    overflow: auto;
  }

  p,
  br,
  dl,
  strong,
  em,
  h1,
  h2,
  a {
    font-family: helvetica, verdana, sans-serif;
    font-size: 8pt;
    color: #000;
  }

  td {
    font-family: helvetica, verdana, sans-serif;
    font-size: 8pt;
    color: #000;
  }

  table p {
    margin-top: 0;
  }

  .headerselected {
    color: #fff;
    background: #006;
  }

  a:visited {
    color: #00f;
    background: transparent;
    text-decoration: none;
  }

  a:active {
    color: $bright-orange;
    background: transparent;
  }

  a:hover {
    color: $bright-orange;
    background: transparent;
  }

  a.img:hover {
    color: #00c;
    background: transparent;
  }

  a.img:active {
    color: #00c;
    background: transparent;
    font-weight: normal;
  }

  table.eventHeader {
    background: white;
    width: 100%;
  }

  table.headerLegendsBorder {
    background: silver;
    border-spacing: 3px;
    border: 0;
    text-align: right;
  }

  table.headerLegendsContent {
    background: white;
    border-spacing: 0;
    border: 0;
    width: 100%;
    text-align: right;
  }

  td.headerLegends {
    text-align: right;
  }

  td.sessionsLegend {
    background: #90c0f0;
  }

  td.contribsLegendSilver {
    background: silver;
  }

  td.contribsLegendGrey {
    background: #d2d2d2;
  }

  td.breaksLegend {
    background: #fcc;
  }

  table.dayList {
    background: white;
    border-spacing: 1px;
    border: 0;
    width: 100%;
  }

  .titleClass {
    font-weight: bold;
  }

  .speakerList {
    color: green;
  }

  .attachments-display-container {
    flex-wrap: wrap;
  }
}
