@import "compass/css3/transition";

$dropdown-transition-step: 0.05s;
$dropdown-transition: $dropdown-transition-step ease-out;
%dropdown-visible {
    visibility: visible;
    opacity: 1.0;
    @include transition(visibility $dropdown-transition,
                        opacity $dropdown-transition,
                        height $dropdown-transition,
                        padding $dropdown-transition);
}
%dropdown-hidden {
    visibility: hidden;
    opacity: 0.0;
    height: 0 !important;
    padding: 0 !important;
    @include transition(visibility $dropdown-transition,
                        opacity $dropdown-transition,
                        height $dropdown-transition,
                        padding $dropdown-transition);
}

.form-block > .i-linking {
    width: 400px;
    > label {
        width: 28%;
        padding: 0.7em 0;
    }
    > .i-linking-dropdown,
    > span {
        display: inline-block !important;
        width: 65%;
    }
    > .i-linking-dropdown > select { width: 100%; }

    > input:checked + label {
        + .i-linking-dropdown,
        + span {
            @extend %dropdown-visible;
        }
    }

    > input:not(:checked) + label {
        + .i-linking-dropdown,
        + span {
            @extend %dropdown-hidden;
        }
    }
}

.i-button.js-create-room {
    line-height: 2em;
    img {
        vertical-align: middle;
        width: 2em;
    }
}