{% macro render_make_me_owner(event, vc_room, event_vc_room, extra_classes='') %}
    {% if session.user != vc_room.vidyo_extension.owned_by_user and event.can_manage(session.user) %}
        <a class="i-button highlight arrow {{ extra_classes }}" data-toggle="dropdown"></a>
        <ul class="dropdown" data-level="level1">
            <li>
                <a href="#"
                   title="{% trans name=vc_room.data.owner_identity %}You will be the owner of this Vidyo room, replacing {{name}}.{% endtrans %}"
                   class="action-make-owner" data-href="{{ url_for_plugin('vc_vidyo.set_room_owner', event_vc_room) }}">
                    {% trans %}Make me owner{% endtrans %}
                </a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_join_button(vc_room, extra_classes="") %}
    <a class="i-button highlight {{ extra_classes }}"
       href="{{ vc_room.vidyo_extension.join_url }}" target="_blank">
        {% trans %}Join{% endtrans %}
    </a>
{% endmacro %}
