{% set vc_room = event_vc_room.vc_room %}
<div class="toolbar right vc-toolbar">
    <div class="group">
        <span class="i-button i-button-small label vc-room-info" id="vc-room-{{ vc_room.id }}"><img src="{{ vc_room.plugin.icon_url }}" style="width: 18px;"></span>
        <a class="i-button i-button-small event-service-right-button highlight join-button" href="{{ vc_room.data.url }}"><strong>{% trans %}Join{% endtrans %}</strong></a>
        {% if event.canUserModify(session.user) and session.user.id != vc_room.data['owner'][1] %}
            <a class="i-button i-button-small highlight arrow" data-toggle="dropdown"></a>
            <ul class="dropdown" data-level="level1">
                <li>
                    <a href="#"
                       title="{% trans name=vc_room.data.owner_identity %}You will be the moderator of this Vidyo room, replacing {{name}}.{% endtrans %}"
                       class="action-make-moderator" data-href="{{ url_for('vc.vc_room_modify', event_vc_room) }}">
                        {% trans %}Make me moderator{% endtrans %}
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
    {{ template_hook('vidyo-event-timetable-buttons', event_vc_room=event_vc_room) }}
</div>
<script>
    $('#vc-room-{{ vc_room.id }}').qtip({
        content: {
            text: {{ info_box | tojson }}
        },
        position: {
            my: 'top middle',
            at: 'bottom middle'
        },
        show: {
            solo: true
        },
        hide: {
            event: 'unfocus',
            fixed: true,
            effect: function() {
                $(this).fadeOut(300);
            }
        },
        style: {
            classes: 'qtip-rounded qtip-shadow qtip-popup vc-room-info-qtip'
        }
    });
</script>
