{% trans %}
    Clicking on the <strong>Pay Now</strong> button will redirect you to Stripe in order to complete your payment.
{% endtrans %}

<dl class="i-data-list">
    <dt>{% trans %}First name{% endtrans %}</dt>
    <dd>{{ registration.first_name }}</dd>
    <dt>{% trans %}Last name{% endtrans %}</dt>
    <dd>{{ registration.last_name }}</dd>
    <dt>{% trans %}Total amount{% endtrans %}</dt>
    <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
    <dt></dt>
    <dd>
        <a class="i-button" href="{{ url_for_plugin('payment_stripe.init', registration.locator.registrant) }}">
            {%- trans %}Pay Now{% endtrans -%}
        </a>
    </dd>
</dl>
