<!DOCTYPE html>
<html>
  <head>
    <title>Payment Form</title>
  </head>
  <body>
    <dl class="i-data-list">
      <dt>{% trans %}First name{% endtrans %}</dt>
      <dd>{{ registration.first_name }}</dd>
      <dt>{% trans %}Last name{% endtrans %}</dt>
      <dd>{{ registration.last_name }}</dd>
      <dt>{% trans %}Total amount{% endtrans %}</dt>
      <dd>{{ format_currency(amount, currency, locale=session.lang) }}</dd>
      <dt></dt>
      <button id="checkout-button">Pay</button>
    </dl>
    <script src="https://js.stripe.com/v3"></script>
    <script>
      window.addEventListener('load', function () {
        var stripe = Stripe('{{ pub_key }}');
        stripe.redirectToCheckout({
          sessionId: '{{stripe_session_id}}'
        }).then(function (result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, display the localized error message to your customer
          // using `result.error.message`.
        });
      });
    </script>
  </body>
</html>
