{% extends 'payment/transaction_details.html' %}
{% from 'payment/macros.html' import warning_message %}

{% block details %}
    <dt>{% trans %}Transaction ID{% endtrans %}</dt>
    <dd>{{ transaction.data.txn_id }}</dd>
    <dt>{% trans %}Invoice ID{% endtrans %}</dt>
    <dd>{{ transaction.data.invoice }}</dd>
    <dt>{% trans %}Payer e-mail{% endtrans %}</dt>
    <dd>{{ transaction.data.payer_email }}</dd>
{% endblock %}

{% block warning_box %}
    {% call warning_message() %}
        <p>{% trans %}The paid amount does not match the required amount. Please contact the registrant to solve the issue.{% endtrans %}</p>
        <p>{% trans %}Paid: {% endtrans %}{{ format_currency(transaction.amount, transaction.currency, locale=session.lang) }}</p>
        <p>{% trans %}Required: {% endtrans %}{{ format_currency(registrant.getTotal(), transaction.currency, locale=session.lang) }}</p>
    {% endcall %}
{% endblock %}
